{% extends 'base.html' %}
{% load jon %}

{% block body %}

    <div class="container" style="margin: 50px; width: auto">
        {% block container %}
        <div class="row">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
              </div>
              <div class="panel-body">
                {% for app_name, app_tables in table_list.items %}
                  <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>{{ app_name }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for table_name, admin in app_tables.items %}
                            <tr>
                                <td><a href="{% url 'table_objs' app_name table_name %}">{% return_model_name admin %}</a></td>
                                <td>Add</td>
                                <td>Change</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                {% endfor %}
              </div>
            </div>
        </div>
        {% endblock %}
    </div>
{% endblock %}