{% extends 'king_admin/table_index.html' %}
{% load jon %}

{% block extra-css-resources %}
<style>
    .filter-select-box{
        height: 250px!important;
        width: 100%;
        border-radius: 3px;
    }
</style>

{% endblock %}

{% block container %}
{#<form action="" method="post">#}
{#    {{ modelform_obj.as_p }}#}
{#    <input type="submit" value="提交">#}
{#    {% csrf_token %}#}
{#</form>#}

<form class="form-horizontal" role="form" method="post" onsubmit="return SelectAllChosenData()">
    {% csrf_token %}
    <span style="color: red">{{ modelform_obj.errors }}</span>  <!--modelform验证错误-->
    {% for field in modelform_obj %}
    <div class="form-group">
        <label class="col-sm-2 control-label" style="font-weight: normal">
            {% if field.field.required %}
                <b>{{ field.label }}</b>
            {% else %}
                {{ field.label }}
            {% endif %}
        </label>
        <div class="col-sm-6">
            {% if field.name in admin_class.filter_horizontal %}
                {% is_change_func request field admin_class as flag %}
                <div class="col-md-5">
                    {% get_m2m_obj_list admin_class field modelform_obj as m2m_obj_list %}
                    <select id="id_{{ field.name }}_from" class="filter-select-box" multiple>
{#                        {% if field.name in admin_class.readonly_fields %}#}
                        {% if flag %}
                            {% for obj in m2m_obj_list %}
                                <option value="{{ obj.id }}" disabled>{{ obj }}</option>
                            {% endfor %}
                        {% else %}
                            {% for obj in m2m_obj_list %}
                                <option ondblclick="MoveElementTo(this , 'id_{{ field.name }}_to', 'id_{{ field.name }}_from')" value="{{ obj.id }}">{{ obj }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    {% get_m2m_selected_obj_list modelform_obj field as selected_obj_list %}
                    <select tag="chosen_list" id="id_{{ field.name }}_to" name="{{ field.name }}" class="filter-select-box" multiple>
{#                        {% if field.name in admin_class.readonly_fields %}#}
                        {% if flag %}
                            {% for obj in selected_obj_list %}
                                <option value="{{ obj.id }}" disabled>{{ obj }}</option>
                            {% endfor %}
                        {% else %}
                            {% for obj in selected_obj_list %}
                                <option ondblclick="MoveElementTo(this, 'id_{{ field.name }}_from', 'id_{{ field.name }}_to')" value="{{ obj.id }}">{{ obj }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
            {% else %}
                {{ field }}{{ field.help_text }}
            {% endif %}
        </div>
    </div>
    {% endfor %}

{#    {% if not admin_class.readonly_table %}#}
        <div class="form-group">
            {% block obj_delete %}  <!--添加数据时会继承该页面, 导致没有实例而报错-->
                <div class="col-sm-2">
    {#                {% if modelform_obj.instance.id %}  <!--添加数据时会继承该页面, 导致没有实例而报错-->#}
    {#                    <a class="btn btn-danger" href="{% url 'obj_delete' app_name model_name modelform_obj.instance.id %}">Delete</a>#}
    {#                {% endif %}#}
    {#                或#}
                        <a class="btn btn-danger" href="{% url 'obj_delete' app_name model_name modelform_obj.instance.id %}">Delete</a>
                </div>
            {% endblock %}
            <div class="col-sm-10">
                <button type="submit" class="btn btn-success pull-right">Save</button>
            </div>
        </div>
{#    {% endif %}#}
</form>
{#<!--{{ modelform_obj }}  只有这一句就能显示所有标签-->#}

<script>
    function MoveElementTo(ele, target_id, new_target_id) {
        var opt_ele = "<option value='" + $(ele).val() + "' ondblclick=MoveElementTo(this,'" + new_target_id +"','"+ target_id +"')>" + $(ele).text() + "</option>";
        $("#" +target_id).append(opt_ele);
        $(ele).remove();
    }

    function SelectAllChosenData() {
        $("select[tag='chosen_list'] option").each(function () {
            $(this).prop("selected", true);
        });

        $('form').find('[disabled]').removeAttr('disabled');  // 提交之前把disabled属性去掉
        return true;
    }

</script>
{% endblock %}